html {
  height: 100%;
}

body {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--surface-primary);
}

.page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  flex-flow: column nowrap;
  align-items: center;
}

.page-content {
  width: 40rem;
}

.box {
  display: flex;
}

.card {
  background-color: var(--surface-secondary);
  border-radius: 10px;
  box-shadow: 0px 1px 10px black;
  padding: 2rem;
}

.cd-button {
  border-radius: 4px;
  border: none;
  background-color: var(--decal-primary);
  color: white;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border: 1px solid black;
}

.cd-button:hover {
  filter: brightness(1.15);
  box-shadow: 0px 0.4px 2px rgba(0, 0, 0, 0.5);
}

.cd-input {
  border-radius: 2px;
  background-color: var(--surface-secondary-dark);
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
}

.cd-input--long {
  width: 100%;
}

.cd-range {
  width: 100%;
}

.cd-text {
  color: var(--highlight);
}

.hstack {
  display: flex;
  gap: 3px;
  align-items: baseline;
  width: 100%;
}

.vstack {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.gap-1 {
  gap: 20px;
}

.gap-2 {
  gap: 60px;
}

.hide {
  display: none;
}

.vspace {
  height: 40px;
}

.between {
  justify-content: space-between;
}

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
}
